@model List<Advertisement>
@{
    ViewData["Title"] = "درگاه کاریاب";
}

<div class="text-center">
    <h1 class="display-4">خوش آمدید</h1>
    <p>پورتال کاریابی جابینو</p>
</div>
@{
    foreach (var ad in Model)
    {
        //string imagepath = @"D:\Test\13.jpg";
        // FileStream fs = new FileStream(imagepath, FileMode.Open);
        string imagSrc=null;
        if (ad.ApplicationUser.Photo != null)
        {
            byte[] byData = ad.ApplicationUser.Photo;
            // fs.Read(byData, 0, byData.Length);


            var base64 = Convert.ToBase64String(byData);
           imagSrc = String.Format("data:image/jpg;base64,{0}", base64);
        }
<div class="jumbotron" dir="rtl">
    <img src="@imagSrc" width="200" height="200"/>
    <h1 dir="rtl" class="display-4">@ad.Title</h1>
    <p class="lead">@ad.Description</p>
    <hr class="my-4">
    <p class="bg-warning">@ad.Date</p><p>سابقه: @ad.Experience</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">بیشتر</a>

</div>

        
    }
}
